# Required
ISSUER=<issuer url>
IDENTIFIER=<identifier>
SECRET=<secret string>
REDIRECT_URI=<redirect url>

# Optional
CLIENT_X509_SIGNING_KEY=<certificat>
#CLIENT_JWK_SIGNING_KEY=<public key>
#NAME=<ominiauth provider name>
#DISCOVERY=<true|false>
#SCOPE=<scope text(join ,)>
CLIENT_SIGNING_ALG=<signature signing algorithm>
SCHEME=<http|https>
HOST=<IdP host name>
PORT=<IdP port number>
AUTHORIZATION_ENDPOINT=<autorization endpoint path>
TOKEN_ENDPOINT=<token endpoint path>
USERINFO_ENDPOINT=<userinfo endpoint path>
JWKS_URI=/auth/realms/master/protocol/openid-connect/certs
END_SESSION_ENDPOINT=<end session endpoint url>
POST_LOGOUT_REDIRECT_URI=<logout after recirect url>
#RESPONSE_TYPE=<response type>
